In [9]:
import pandas as pd
import numpy as np
d= {'name':[1,2],'qty':[3,4]}
dp = pd.DataFrame(data=d)
dp

   name  qty
0     1    3
1     2    4

In [8]:
dp

   name  qty
0     1    3
1     2    4

In [10]:
dnp = np.array([['','Col1','Col2'],
                ['Row1',1,2],
                ['Row2',3,4]])
dp1 = pd.DataFrame(data=dnp)
dp1

      0     1     2
0        Col1  Col2
1  Row1     1     2
2  Row2     3     4

In [12]:
dnp = np.array([['','Col1','Col2'],
                ['Row1',1,2],
                ['Row2',3,4]])
dp1 = pd.DataFrame(data=dnp[1:,1:],
                  index=dnp[1:,0],
                  columns=dnp[0,1:])
dp1

     Col1 Col2
Row1    1    2
Row2    3    4

In [13]:
dnp[1:,0]

array(['Row1', 'Row2'], dtype='<U4')

In [15]:
dp1.columns

Index(['Col1', 'Col2'], dtype='object')

In [17]:
dp1.index

Index(['Row1', 'Row2'], dtype='object')

In [22]:
dp1['Col1']

Row1    1
Row2    3
Name: Col1, dtype: object

In [23]:
a = dp1['Col1']
print(a[0])

1

In [24]:
len(dp1)

2